@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    Данное приложение позволяет оформлять заказы доставки а также видеть перечень уже оформленных заказов, чтобы приступить к работе <br /> нажмите в верхнем левом углу на кнопку "Заказы"  или нажмите <a asp-page="/Movies/Index">здесь</a>. <br /> Для удобства ознакомления с функционалом приложения пару заказов оформлены заранее.</p>

</div>
